<!DOCTYPE html>
<html lang="en">
<head>
    <link href="assets/style.css" type="text/css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Person id is : <%= ID %> and Name is <%= NAME %></h1><br>   
    <h2>Query String value : <%= Qstr %></h2>
</body>
</html>